* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.squares {
    width: 100px;
    height: 100px;
    background-color: rgb(133, 189, 245);
    border: 5px solid black;
    display: inline-block;
}